@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SoraMedium;
  src: url(./Assets/fonts/Sora-Medium.ttf);
}
@font-face {
  font-family: SoraRegular;
  src: url(./Assets/fonts/Sora-Regular.ttf);
}
h1{
  font-family: SoraMedium;
}
#root{
  font-family: SoraRegular;
  background-image: url(./Assets/Image/Blurry\ Background-min.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

